.section {
  width: 500px;
}

.title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: white;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
